<form id="create-company-form" class = "overlay-form" action="/company/create" method="post">
  <button class = "btn" type="button" id = "close-form"> close </button> 
    
  <div>
      <lable>company name</lable>
      <input name="name" type="text" />
    </div>
    <div>
        <lable>about company</lable>
        <textarea name="about" id="about" cols="30" rows="10"></textarea>
      </div>
    <button type="submit">Submit</button>
  </form>
  