<!-- form to create company  -->

<form id="create-company-form" class = "overlay-form" action="/company/create" method="post">
  <button class = "btn" type="button" id = "close-form"> close </button> 
    
  <div>
      <lable>Company name</lable>
      <input name="name" type="text"  required />
    </div>
    <div>
        <lable>About Company</lable>
        <textarea name="about" id="about" cols="30" rows="10"  required ></textarea>
      </div>
    <button type="submit">Submit</button>
  </form>
  