<header>
  <nav>
    <!-- here i am changing the removing the dead link on which i am currently. -->
    <% if(locals.urlPath!=="/"){%> <a href="/">Home</a> <%}%>
    <% if(locals.urlPath!=="/interviews"){%> <a href="/interviews">Interviews</a> <%}%>
    <% if(locals.urlPath!=="/current-job"){%> <a href="/current-job">Current Jobs</a> <%}%>
    <% if(locals.urlPath==="/interviews" ||locals.urlPath==="/" ){%> <a href="/csv/all-students">download</a><%}%>
  </nav>
  <!-- add user actual detatil -->
 <div class="user">
    <% if(locals.user)   {%>
      <a href=""><%= user.name %></a><a href="/employee/signout">sign-out</a>
    <%}else{%>
      <a href="/employee/signin">sign-in</a><a href="/employee/signup">sign-up</a>
    <%}%>
 </div>  
 
</header>
