<link rel="stylesheet" href="/styles/form.css"> 
<div>
  <form id = "signup-form" action="/employee/create-session" method="post">
    <div class = "label-field">
        <lable>email</lable>
        <input name="email" type="email" />
    </div>
    <div class = "label-field">
        <lable>password</lable>
        <input name="password" type="password" />
    </div>
    <button type="submit">Submit</button>
    </form>
</div> 
