<!-- this is sign in form  -->

<link rel="stylesheet" href="/styles/form.css"> 
<div>
  <form id = "signup-form" action="/employee/create-session" method="post">
    <div class = "label-field">
        <lable>Email</lable>
        <input name="email" required type="email" />
    </div>
    <div class = "label-field">
        <lable>Password</lable>
        <input name="password" required type="password" />
    </div>
    <button type="submit">Submit</button>
    </form>
</div> 
