html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.795);
}
html h1, html h2, html h3, html h4, html h5, html p {
  margin: 0px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.795);
}
html a {
  text-decoration: none;
  color: rgba(255, 253, 253, 0.795);
}
html body {
  margin: 0px;
  padding: 0px;
}
html * {
  box-sizing: inherit;
}

.green {
  color: lime;
}

.red {
  color: red;
}

.yellow {
  color: #fffb00;
}

a, .btn {
  padding: 3px 5px;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 2px 2px rgba(0, 50, 110, 0.767);
}
a:hover, .btn:hover {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.541);
}
a:active, .btn:active {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.541) inset;
}

.btn {
  background-color: #ee3976;
}

body > header {
  background-color: #080620;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
body > header nav, body > header .user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body > header nav > a, body > header .user > a {
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.flext-apart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#interview header {
  margin: 20px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}